 .baris .uang {text-align:right!important}

 #iframe
 {
 width:100%;height:220px;overflow:auto;
 }



 .inputfile {
 	width: 0.1px;
 	height: 0.1px;
 	opacity: 0;
 	overflow: hidden;
 	position: absolute;
 	z-index: -1;
 }
